* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Gowun Batang", serif;
}


/* 방문하지 않은 링크 : link, 방문한 링크 : visited */
a:link, a:visited {
    text-decoration: none; /* none >>링크 걸린 텍스트 밑줄 없앨 수 있음*/
    color: black;
}

.container {
    width: 960px; /*통상 960픽셀. 배경x 내용o*/
    margin: 0 auto;
}

nav {
    height: 80px;
    background-color: crimson;
}